*
{
	margin: 0;
	padding: 0;
}

body
{
	min-height: 100vh;
	padding-left: 2vw;
	background-color: whitesmoke;
	font-family: Arial, 'Times New Roman', Times, sans-serif;
}

#search-form-section
{
	padding-top: 2rem;
}

#search-input
{
	width: 15vw;
	height: 30px;
	font-size: 1rem;
	padding-left: 5px;
}
#search-btn
{
	font-size: 1.05rem;
	margin-left: 10px;
	padding: 5px;
}

#options-wrapper
{
	padding-top: 2rem;
	display: flex;
}
#search-type-dropdown-wrapper
{
	margin-left: 25px;
}

button:hover
{
	cursor: pointer;
}

#videos-wrapper
{
	padding-top: 1rem;
	display: flex;
	flex-wrap: wrap;
}

.video-wrapper
{
	margin-top: 2rem;
	margin-right: 1rem;
	width: 20vw;
	display: flex;
	flex-direction: column;
}

.video-wrapper:hover
{
	padding: 5px;
	border: 1px solid black;
	cursor: pointer;
}

.video-title
{
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; /* Prevents text from wrapping */
}

.video-thumbnail
{
	width: 20vw;
	aspect-ratio: 16 / 9;
}

.video-channel-name
{
	color: #888;
}

#video-display-wrapper
{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 60vw;
	height: fit-content;
	max-height: 90vh;
	overflow-y: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	z-index: 1;
	background-color: white;
	border: 1.5px solid grey;
}

#video-display-title
{
	align-self: center;
	font-size: 1.25rem;
	font-family: Arial, sans-serif;
}

#video-display-frame
{
	align-self: center;
	margin: .5rem 0;
	width: 75%;
	aspect-ratio: 16 / 9;
}

#video-display-channel-name
{
	margin: 1rem 0;
	border: 1px solid grey;
	width: fit-content;
	padding: 5px;
	border-radius: 10px;
	background-color: #F88;
}

#video-display-description
{
	display: inline;
	font-size: .85rem;
	white-space: pre-wrap;
}
#video-display-description::before
{
	content: 'Description\A';
	font-size: .95rem;
	font-weight: bold;
	color: #666;
}
#video-display-desc-read-more-btn
{
	margin-left: 10px;
	padding: 2px;
}

#load-next-page-results-btn
{
	margin: 1rem 0;
	font-size: 1.05rem;
	padding: 5px;
}
