body
{
	min-height: 100vh;
	padding: 0 2vw;
	background-color: whitesmoke;
	font-family: Arial, 'Times New Roman', Times, sans-serif;
}

*
{
	margin: 0;
	padding: 0;
}
*[readonly]:hover
{
	cursor: not-allowed;
}

input
{
	font-size: 1rem;
}

button:hover
{
	cursor: pointer;
}

/* header */
#header-wrapper
{
	padding-top: 2rem;
	display: flex;
	justify-content: space-between;
}
/* left side */  
#search-input
{
	width: 20vw;
	height: 30px;
	padding-left: 5px;
}
#search-btn
{
	width: fit-content;
	height: fit-content;
	font-size: 1.05rem;
	margin-left: 10px;
	padding: 5px;
}
#channel-wrapper
{
	margin-top: .5rem;
}
#channel-input
{
	width: fit-content;
	padding: 2px 2px 2px 4px;
	background-color: #DDD;
	border: 1px solid black;
}
#channel-input:placeholder-shown
{
	max-width: 5vw;
}
#clear-channel-btn
{
	width: 25px;
	height: 25px;
	font-size: 1.1rem;
	text-align: center;
	background-color: grey;
	border: 1px solid white;
	border-radius: 50%;
}
/* right side */
.info-label
{
	display: block;
	width: 10px;
	height: 15px;
	padding: 0 5px 5px 5px;
	text-align: center;
	font-size: 1.15rem;
	color: #88F;
	background-color: white;
	border: 1px solid grey;
	border-radius: 10px;
}
.info-label:hover
{
	cursor: help;
}
#quotas-wrapper
{
	display: flex;
	align-items: center;
}
#quotas-cost-info-label
{
	margin-right: 10px;
}
#quotas-amount
{
	padding-left: 5px;
	font-size: 1.25rem;
}

/* filters */
#filters-wrapper
{
	padding-top: 1.5rem;
	display: flex;
}
#filters-wrapper > *
{
	margin-right: 25px;
}
.filter-label
{
	font-size: .9rem;
}
/* Video duration & release time */
#video-duration-dropdown-wrapper, #video-release-time-dropdown-wrapper
{
	margin-top: .65rem;
}
/* Datetime range */
#results-datetime-range-wrapper
{
	display: flex;
}
#results-datetime-range-wrapper > *
{
	margin-right: 5px;
}
#results-datetime-from-range-wrapper, #results-datetime-to-range-wrapper
{
	display: flex;
	flex-direction: column;
}
#results-datetime-from-range-custom-input, #results-datetime-to-range-custom-input
{
	margin-top: .5rem;
	font-size: .95rem;
}

/* options */
#options-wrapper
{
	margin-top: 2rem;
	display: flex;
}
#options-wrapper > *
{
	margin-right: 25px;
}
.option-label
{
	font-size: .9rem;
}

/* results */
#results-wrapper
{
	padding: 1rem 0;
	display: flex;
	flex-wrap: wrap;
}
.result-wrapper
{
	margin-top: 2rem;
	margin-right: 1rem;
	width: 20vw;
	display: flex;
	flex-direction: column;
}
.result-wrapper:hover
{
	padding: 5px;
	border: 1px solid black;
	cursor: pointer;
}
.result-title
{
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.result-channel-name
{
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #888;
}
.result-thumbnail
{
	width: 100%;
	aspect-ratio: 16 / 9;
}
#load-more-results-btn
{
	margin: .5rem 0;
	font-size: 1.05rem;
	padding: 5px;
}

/* clicked result */
#bigger-display-wrapper
{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 60vw;
	height: fit-content;
	max-height: 90vh;
	overflow-y: auto;
	position: absolute;
	/* center display */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	/**/
	z-index: 1;
	background-color: white;
	border: 1.5px solid grey;
}
#bigger-display-title
{
	align-self: center;
	font-size: 1.25rem;
	font-family: Arial, sans-serif;
}
#bigger-display-frame
{
	align-self: center;
	margin: .5rem 0;
	width: 75%;
	aspect-ratio: 16 / 9;
}
#bigger-display-channel-btn
{
	margin-top: 1rem;
	width: fit-content;
	padding: 5px;
	background-color: #F88;
	border: 1px solid grey;
	border-radius: 10px;
}
#bigger-display-desc-label
{
	display: block;
	padding-top: 1rem;
	font-size: .95rem;
	font-weight: bold;
	color: #666;
}
#bigger-display-desc
{
	display: inline;
	font-size: .85rem;
	white-space: pre-wrap;
}
#bigger-display-desc-read-more-btn
{
	width: fit-content;
	margin-left: 10px;
	padding: 2px;
}
